{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"tabWidth": 4,
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"endOfLine": "crlf",
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"printWidth": 1
			}
		}
	]
}
